h1,h2,h3,h4,h5,h6,p,ul,li{
    margin: 0;
    padding: 0;
  
}
body{
        background-image: url("/Homework2/img/background.jpg");
        background-size: cover;
        background-repeat:no-repeat;
        margin: 0;
        padding: 0;
}
.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.navbar ul li{
   margin: 0 10px;
   padding: 30px;
}
.navbar ul li a{
    text-decoration: none;
    color: black;
    font: bold;
    padding: 8px 16px;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;

}
.box{
    width:440px ;
    background: #6b5858;
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 1%;
    color:white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    transition: 0.5s;               /* transform süresini ayarlamak için */ 
    cursor: pointer;               /* resim üzerine gelindiğinde imleç tasarımı değişmesi için */
}
.box img:hover{
    transform: scale(0.9); 
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
    
}
.box h4{
    padding: 3px;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;            /* harflerin arasındaki boşluk miktarı ayarı  */
    color:cadetblue;
}
.box h4:hover{
    transform: scale(0.9); 
}
.box p{
    padding: 2px;
    text-align: justify;           /* iki yana yaslı   */
    color:black;
}
ul{
    margin: 0;
    padding: 0;
}
.box li{
    display: inline-block;
    margin: 8px;
    list-style: none;
}
.box li a{
    color: white;
    font-size: 50px;
    transition: all  ease-in-out 250ms;
}
.box li a:hover{
    color: #b9b9b9;
}
.projects-table{
    margin: 78px;
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.projects-table th{
    background-color:cadetblue;
    font-weight: bold;
    text-align: left;
    padding: 8px;
 }
 .projects-table tbody tr:hover{
    background-color: #e5e5e5;
}
.projects-table td{
    padding: 10px;
    border-bottom: 1px solid #ccc;
 }
 .bootcamps-table{
    margin: 50px;
    float: right;
    width: 60%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.bootcamps-table th{
    background-color:cadetblue;
    font-weight: bold;
    text-align: left;
    padding: 8px;
 }
 .bootcamps-table tbody tr:hover{
    background-color: #e5e5e5;
}
.bootcamps-table td{
    padding: 10px;
    border-bottom: 1px solid #ccc;
 }
 .card-container{
    display: flex;
    margin-top: 25%;
    justify-content: space-around;
    flex-wrap: wrap;  
}
.card{
    width: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: transform 0.3 ease-in-out ;
}

.card img{
    width: 100%;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;

}
.card h3{
    margin-top: 10px;
    margin-bottom: 5px;
}
.card p{
    font-size: 16px;
    margin-bottom: 20px;
}
.btn{
    display: inline-block;
    padding: 8px 16px;
    background-color:darkred;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
    transition: background-color 0.3 ease-in-out;
}


.form-control{
    border: none !important;
    margin: 0 0 10px;
    padding: 0;
    width: 25%;
}
 
#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
}
 
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact textarea:hover {
    -webkit-transition: border-color 0.4s ease-in-out;
    -moz-transition: border-color 0.4s ease-in-out;
    transition: border-color 0.4s ease-in-out;
    border: 1px solid #aaa;
}
 
#contact textarea {
    height: 120px;
    max-width: 100%;
    resize: none;
}
 
#contact button[type="submit"] {
    cursor: pointer;
    width: 50%;
    border: none;
    border-radius: 5px;
    background: #79A7A8;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}
 
#contact button[type="submit"]:hover {
    background: #355C7D;
    transition: background-color 0.4s ease-in-out;
}
 
#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
/* Responsive Ayarları Yapılmalı*/
/* Tablet */
@media(max-width: 768px){
    header{
        background-color: brown;
        color: #fff;
        padding: 20px;
    }
    .navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .navbar ul li{
        margin: 0 10px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        transition: background-color 0.3s ease-in-out;
    
    }
    .navbar ul li a:hover{
        background-color: #a49494;
    }
}


/*Telefon*/
@media (max-width: 576px) {
    header{
        background-color: blue;
        color: #fff;
        padding: 20px;
    }
    .navbar ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
    }
    .navbar ul li{
        margin: 0 10px;
    }
    .navbar ul li a{
        text-decoration: none;
        color: white;
        padding: 8px 16px;
        border-radius: 4px;
        transition: background-color 0.3s ease-in-out;
    
    }
    .navbar ul li a:hover{
        background-color: #a49494;
    }
}

























footer{
    padding: 10px;
    text-align: center;
}

